.CreateTodoButton {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    border-radius: 5px;
    font-size: 15px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 314px;
    padding-bottom: 5px;
    z-index: 2;
  }
.CreateTodoButton h3 {
    color: #fff;
    background-color: var(--warm-black);
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.CreateTodoButton div {
    display: flex;
    flex-direction: column;
}
.CreateTodoButton div button {
    width: 200px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    background-color: transparent;
    transition: all .3s;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.CreateTodoButton div button.add {
    background-color: var(--warm-black);
}